@font-face {
	font-family: 'din_bold_condensed';
	src: url('./assets/fonts/dincondensed-bold-webfont.woff2') format('woff2'),
		url('./assets/fonts/dincondensed-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'din_bold';
	src: url('./assets/fonts/din_alternate_bold-webfont.woff2') format('woff2'),
		url('./assets/fonts/din_alternate_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'notable';
	src: url('./assets/fonts/notable-regular-webfont.woff2') format('woff2'),
		url('./assets/fonts/notable-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import "./scenes/chapter1/chapter1.scss";
@import "./scenes/chapter1/chapter1page2.scss";
@import "./scenes/chapter3/c3p2/c3p2.scss";
@import "./scenes/chapter3/c3p3/c3p3.scss";

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ecece9;
  background-color: #282928;
  font-family: 'din_bold' !important;

  h3 {
    font-family: 'din_bold_condensed' !important;
  }

  h1 {
    font-family: 'notable' !important;
  }
}


.chapter-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
